menu {
  background-color: rgb(220, 183, 20);
}
.main {
  background-color:#f5f5f5;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.photos {
   background-color:#e4e7f0;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
.footer {
   background-color: #777777;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
.menu ul {
   text-align: center;
   padding-top: 28px;
   padding-bottom: 20px;
}
.menu li {
   display: inline-block;
   text-align: center;
}
.menu li a {
  display: inline-block;
  height: auto;
  width: 150px;
  color: #333333;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.main li a:hover {
background-color:#000000;
}
.footer ul {
text-align: center;
padding-top: 20px;
  padding-bottom: 20px;
}
.footer li {
  display: inline-block;
  text-align: center;
}
.footer li a {
   display: inline-block;
   height: auto;
   width: 150px;
   color:#000000;
   background-color:#348f00;
   padding: 10px;
   margin: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
 .footer li a:hover {
    background-color:#82000b;
 }
